<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="sub">
            <h1>Login</h1>
            <div class="form">

                <div class="form-sub">
                    <input type="text" id="username" placeholder="Username">
                </div>

                <div class="form-sub">
                    <input type="password" id="password" placeholder="Password">
                </div>

                <div class="form-sub">
                    <input type="button" onclick="login()" value="login">
                </div>

            </div>
        </div>
    </div>


    <script>
        const API_URL = "http://127.0.0.1:8000/login/";

        function login() {

            fetch(API_URL, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    username: document.getElementById('username').value,
                    password: document.getElementById('password').value
                })
            })

                .then(res => res.json())
                .then(data => {
                    
                    if(!data.access) {
                        alert(data.detail || "Invalid username or Password");

                        return;
                    }

                    localStorage.setItem("access", data.access);
                    localStorage.setItem("refresh", data.refresh);

                    
                    const loginUrl = "{% url 'user_dashboard' %}";
                    window.location.href = loginUrl;

                })
                .catch(err => alert(err));
                
        }
    </script>
</body>

</html>