<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="sub">
            <h1 id="head"></h1>
            <button onclick="logOut()">logout</button>
        </div>
    </div>

    <script src="{% static 'js/auth.js' %}"></script>
    <script>

        const API_URL = "http://127.0.0.1:8000/user-dash/";
        const accessToken = localStorage.getItem("access");
        const loginUrl = "{% url 'login_page' %}";

        if (!accessToken) {
            window.location.href = loginUrl;
        }

        authFetch(API_URL)
            .then(res => {
                if (!res.ok) {
                    return res.text().then(text => {
                        throw new Error(text);
                    });
                }
                return res.json();
            })
            .then(data => {
                document.getElementById('head').innerHTML =
                    "WELCOME BACK " + data.username;
            })
            .catch(err => {
                alert("your not logined");
                window.location.href = loginUrl;
            });



        function logOut() {
            localStorage.removeItem("access");
            localStorage.removeItem("refresh");

            window.location.href = loginUrl;
        }

    </script>
</body>

</html>